<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.zapier.alfredbasic</string>
	<key>connections</key>
	<dict>
		<key>37CB60ED-1649-4797-B654-2A5B7E8E46A3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C532968-2899-4E29-A4BE-8B3F46042670</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9C532968-2899-4E29-A4BE-8B3F46042670</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8526F1A6-A57E-404A-9851-2AEBBBC33FDF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Matthew Guay</string>
	<key>description</key>
	<string>Add a Microsoft To-Do</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>[Microsoft To-Do]</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>todo</string>
				<key>subtext</key>
				<string>Send {query} to your Zapier workflow</string>
				<key>text</key>
				<string>Zapier</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>37CB60ED-1649-4797-B654-2A5B7E8E46A3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string> </string>
				<key>replacestring</key>
				<string>%20</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>9C532968-2899-4E29-A4BE-8B3F46042670</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>source ~/src/dotfiles/bin/private.sh
curl $ZAPIER_ADD_TASK_URL?note="{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8526F1A6-A57E-404A-9851-2AEBBBC33FDF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This Alfred workflow lets you run a Zapier workflow with the text you enter into Alfred. Here's how to use it:

1. Make a Zap, if you don't already have it. Open https://zapier.com/, login to your Zapier account, and make a new Zap with the Webhooks Catch Hook trigger.
2. Copy the Webhooks URL from Zapier. It'll be something like https://hooks.zapier.com/hooks/catch/123456/1abcde/.
3. Double-click the Value field beside ZAP_URL on the right, paste your Webhooks URL instead of the instruction text, then press save.
4. Open Alfred, type Zap followed by the text you want to use, then press enter.
5. Now go back to Zapier and finish setting up your Zap.
6. Whenever you want to run that Zap, just open Alfred, type Zap, and enter the text you want to send to Zapier.

Want to use this workflow with more than one Zap? Just right-click on "Zapier for Alfred" in the sidebar, select Duplicate, then add your new Zap's URL to the environment variable on the right—and add a new keyword to the keyword option.

Enjoy, and if you need help, email us at contact@zapier.com

For more info, check the tutorial at https://zapier.com/blog/zapier-for-alfred/</string>
	<key>uidata</key>
	<dict>
		<key>37CB60ED-1649-4797-B654-2A5B7E8E46A3</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>8526F1A6-A57E-404A-9851-2AEBBBC33FDF</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>9C532968-2899-4E29-A4BE-8B3F46042670</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.2</string>
	<key>webaddress</key>
	<string>https://zapier.com/</string>
</dict>
</plist>
