bin/checkpw filter=git-crypt diff=git-crypt
bin/private.sh filter=git-crypt diff=git-crypt
fonts/Input-Font.zip filter=git-crypt diff=git-crypt
networking/tls/*.key filter=git-crypt diff=git-crypt
networking/ses-email/password filter=git-crypt diff=git-crypt
networking/ssh/files/id_dsa filter=git-crypt diff=git-crypt
networking/ssh/files/id_rsa-aws-idris filter=git-crypt diff=git-crypt
networking/ssh/files/id_rsa-backup filter=git-crypt diff=git-crypt
networking/ssh/files/id_rsa-centralpark-server-dev-1 filter=git-crypt diff=git-crypt
networking/ssh/files/id_rsa-centralpark-server-prod-1 filter=git-crypt diff=git-crypt
networking/ssh/files/id_rsa filter=git-crypt diff=git-crypt
networking/ssh/files/id_rsa-macbook filter=git-crypt diff=git-crypt
networking/wifi/networks.nix filter=git-crypt diff=git-crypt
tools/aws/boto filter=git-crypt diff=git-crypt
tools/aws/credentials filter=git-crypt diff=git-crypt
tools/clojure/profiles.clj filter=git-crypt diff=git-crypt
tools/nats/ngs.creds filter=git-crypt diff=git-crypt
tools/nats/manifest/nats.yaml filter=git-crypt diff=git-crypt
tools/npm/npmrc filter=git-crypt diff=git-crypt
tools/postgres/pgpass.conf filter=git-crypt diff=git-crypt
terraform/terraform.tfstate filter=git-crypt diff=git-crypt
