[submodule "vim/vim.symlink/bundle/vim-clojure-static"]
	path = neovim/config/nvim.symlink/bundle/vim-clojure-static
	url = git@github.com:guns/vim-clojure-static.git
[submodule "vim/vim.symlink/bundle/vim-fireplace"]
	path = neovim/config/nvim.symlink/bundle/vim-fireplace
	url = git@github.com:tpope/vim-fireplace.git
[submodule "neovim/config/nvim.symlink/bundle/vim-surround"]
	path = neovim/config/nvim.symlink/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "ctrlp"]
	path = neovim/config/nvim.symlink/bundle/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
