<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application</key>
	<integer>1</integer>
	<key>custom</key>
	<string>on alfred_script(q)
    if {q starts with "$"} then
      set theCommand to characters 2 thru -1 of q as string
      do shell script "open -n -a Alacritty.app --args -e " &amp; theCommand &amp; " &gt;/dev/null 2&gt;&amp;1" 
    else
      do shell script "source /etc/profile; tmux new-window " &amp; (quoted form of q) &amp; " &gt;/dev/null 2&gt;&amp;1"
    end if
end alfred_script</string>
	<key>prefix</key>
	<integer>2</integer>
</dict>
</plist>
